@{
  Layout = "_Layout";
}

<h1>Find a Recipe!</h1>

<p><em>It's a recipe in a box. It's a recipe in a box baby</em></p>


  <h3><strong>@Html.ActionLink("TAGS", "Index", "Tags")</strong></h3>
  <h3><strong>@Html.ActionLink("RECIPES", "Index", "Recipes")</strong></h3>