@model RecipeBox.Models.Tag

<h1>Are you sure you want to delete this tag?</h1>

@using (Html.BeginForm())
{
  <h2>Tag Details</h2>

  <h5>ID: @Model.TagId</h5>
  <h5>Description: @Model.Description</h5>

  <button value="Delete" class="delete">Delete</button>
}